/* =======Style for body======= */
body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* =======Style for header======= */
.header {
    background: url(../img/bg.png);
    background-size: cover;
    height: 660px;
    color: white;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0px 30px;
    height: inherit;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff3b;
    padding: 26px 0;
    margin-bottom: 215px;
}

.header__nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: "Proxima Nova";
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 1px solid #ffffff3b;
    padding-right: 20px;
    margin: 0;
    margin-right: 25px;
    cursor: pointer;
}

.nav-phone__block {
    display: flex;
    align-items: center;
    margin-left: 26px;
}

.nav-phone__icon {
    display: inline-block;
    padding:  7px;
    background: url(../img/phone.png) no-repeat;
    background-size: contain;
}

.nav-phone__number {
    font-size: 13px;
    margin-left: 6px;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__item.bold {
    font-weight: 700;
}

.menu__item {
    display: inline-block;
    text-transform: uppercase;
    padding: 12px;
    margin-right: 20px;
    border-radius: 5px;
    transition: .2s;;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.menu__item:hover {
    background-color: #6a7f80;
}

.header-welcome-title {
    font-size: 38px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 25 0;
}

.header-welcome-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-welcome-btn {
    background-color: #6fb048;
    padding: 20px 45px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 135px;
}

/* =====Features===== */
.main {
    text-align: center;
    color: #0f5f5c;
    padding: 95px 0 150px 0;
}

.main__title-divider {
    max-width: 65px;
    height: 1px;
    background-color: #6fb048;
    margin: 20px auto;
    border: 0;
}

.main__title {
    margin: 0;
    font-size: 32px;
    color: #0f5f5c;
    font-weight: 300;
} 

.main__desc {
    margin: 0 auto 70px auto;
    color: #83a7a5;
    max-width: 450px;
}

.features__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 30px 0;
}

.features__item {
    max-width: 30%;
}

.features__item-img {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-bottom: 28px;
}

.features__item-img {
    max-height: 50px;
}

.features__item-title {
    margin: 0 0 23px 0;
    font-size: 16px;
    color: #1f6a67;
}

.features__item-desc {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #83a7a5;
}

.divider {
    position: relative;
    width: 1px;
    height: 90px;
    background: #f2f2f2;
    margin: 30px auto 65px auto;
}

.divider:after {
    width: 90px;
    height: 2px;
    background: #f2f2f2;
    content: '';
    position: absolute;
    bottom: -1px;
    left: -43px;
}

.subfeatures__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subfeatures__item {
    width: 45%;
    text-align: left;
    margin-bottom: 60px;
}

.subfeatures__item-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.subfeatures__item-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 0 0 20px;
}

.subfeatures__item-desc {
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 20px;
}

.hamburger {
    display: none !important;

}

/* =======Adaptive======= */
@media screen and (max-width: 1120px) {
    .container {
        max-width: 970px;
        padding: 0px 30px;
    }
}

@media screen and (max-width: 1030px) {
    .container {
        max-width: 870px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block !important;
    }
}

@media screen and (max-width: 935px) {
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 815px) {
    .container {
        max-width: none;
    }

    .main {
        text-align: center;
        color: #0f5f5c;
        padding: 95px 0 85px 0;
    }

    .features__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .features__item {
        max-width: 60%;
        margin: 0 auto 30px;
        justify-content: center;
    }

    .subfeatures__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .subfeatures__item {
        width: 60%;
        text-align: left;
        margin: 0 auto 60px;
    }

    .subfeatures__item-title {
        margin-top: 20px;
    }

    .subfeatures__item-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 560px) {
    .header-welcome-desc {
        width: 60%;
    }  
}

@media screen and (max-width: 540px) {
    .features__item {
        max-width: 60%;
        margin: 0 auto 30px;
        justify-content: center;
    }

    .subfeatures__item {
        width: 60%;
        margin: 0 auto 30px;
        justify-content: center;
    }
}

@media screen and (max-width: 520px) {
    .features__item {
        max-width: 100%;
        margin: 0 auto 30px;
        justify-content: center;
    }

    .subfeatures__item {
        width: 100%;
        margin: 0 auto 30px;
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    .nav-phone__block {
        display: none;
    }

    .header__nav {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 375px) {
    .header-welcome-title {
        font-size: 30px;
        font-weight: 400;
        line-height: 21px;
        margin: 0 0 25 0;
    }
    
    .header-welcome-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media screen and (max-width: 340px) {
    .subfeatures__item-title {
        font-size: 14px;
    }
}